<tr>
  <td>
    <button class="{{#if is_served}}order-delete{{else}}order-pickup{{/if}}" data-id="{{food_order_id}}" data-newserve="{{newserve}}">
        {{#if is_served}}Close Out Order{{else}}Pick Up Ready{{/if}}
    </button>
  </td>  
  <td>{{food_server_name}}</td>
  <td>{{food_order_name}}</td>
  <td>{{food_order_id}}</td>
</tr>